.container {
  font-family: sans-serif;
  text-align: center;
}

#word-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

#word-list li {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 80px;
  cursor: pointer; 
  position: relative; /*  إضافة هذه الخاصية  */
}

.word-number {
  position: absolute; /*  إضافة هذه الخاصية  */
  top: 70%; /*  ضبط موضع الترقيم  */
  left: 5px; /*  ضبط موضع الترقيم  */
  font-size: 7px; /*  ضبط حجم الترقيم  */
  color: #555; /*  لون الترقيم  */
}

.pinyin {
  display: none; /* نخفي البينيين في البداية */
  font-size: 14px;
  color: #555;
}

.pinyin.show {
  display: inline; /* نعرض البينيين عند النقر */
}

#timer {
  position: fixed; /* لتثبيت المؤقت على اليسار */
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 18px;
}
